{% include 'incl/header.twig' %}

<body> <!---remove to turn showgrid off.-->
    {% include 'incl/nav.twig' %}
    <div class="main-image">
         <div class="main" role="main">
        {{ content }}
    </div>
    </div>


    {% include 'incl/footer.twig' %}
</body>

</html>
