$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: white;
$background-alternative-color: #e0fbfc;
$size: 1.25;
$font-size-text: calc($size * 1em);
$magic-line-spacing: calc(1.4 * $size * 1rem);
$footer-background-color: #e8e8e8;
$footer-text-color: #000;
$footer-border-top: #d3d3d3;
$box-title-background: #606060;
