
.footer {
    height: 40px auto;
    flex: 0 0 auto;
    background-color:rgb(0, 0, 0);
    opacity: 0.8;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .column .copyright{
    margin-top:15px;
    text-align:center;
    color: white;
    font-size:1em;
    margin-bottom:0;
}

.footer a {
    color:black;
    text-decoration:none;
    opacity:0.5;
}
.social {
    font-size: 2rem;
    padding-left: 50%;
}


