{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main-wrap">
        <img class="main-wrap-img" src="../../assets/img/green.png" alt="">
        <div class="main" role="main">
            {{ content }}
        </div>

    </div>


    {% include 'incl/footer.twig' %}
</body>

</html>
